<form method="get" action="/edit">
    <button type="submit">Edit a task</button>
</form>

<h2><%= @task.title %></h2>
<ul>
<li><%= @task.details %></li>
<% if @task.completed %>
      <li>This task is completed</li>
     <% else %>
      <li>This task is not yet completed</li>
<% end %>
</ul>

<%=link_to "Back to list", tasks_path%>
