// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* Style the list items */


li {
 list-style-type: none;
}

.form-group {
  padding: 10px;
  width: 30px;
}

.btn {
  background-color: blue;
  color: white;
  border-radius: 20px;
}
